---
---

.card {
  display: inline-flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  width: 360px;
  max-width: calc(100% - 16px - 16px);
  margin: 16px;
  background: var(--background);
  border: solid 1px var(--light-gray);
  border-radius: var(--rounded);
  overflow: hidden;
  box-shadow: var(--shadow);
  vertical-align: top;
  transition: transform var(--transition), box-shadow var(--transition);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 56px -18px var(--overlay);
}

.card[data-style="small"] {
  width: 250px;
}

.card-image img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
  // box-shadow: var(--shadow);
}

.card-text {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
  padding: 18px;
}

.card-text > * {
  margin: 0 !important;
}

.card-title {
  font-family: var(--heading);
  font-weight: var(--semi-bold);
}

.card-subtitle {
  margin-top: -10px !important;
  font-style: italic;
}
