---
---

$page: 1080px;
$pad-y: 80px;
$pad-x: 48px;
$mobile: 700px;

section {
  padding: $pad-y max($pad-x, calc((100% - $page) / 2));
  transition: background var(--transition), color var(--transition);
}

section[data-size="wide"] {
  padding: $pad-y $pad-x;
}

@media (max-width: $mobile) {
  section,
  section[data-size="wide"] {
    padding: 48px 24px;
  }
}

section[data-size="full"] {
  padding: 0;
}

section[data-size="full"] > * {
  margin: 0;
  border-radius: 0;
}

section[data-size="full"] img {
  border-radius: 0;
}

main > section:last-of-type {
  flex-grow: 1;
}

main > section:nth-of-type(odd) {
  background: var(--background);
}

main > section:nth-of-type(even) {
  background: var(--background-alt);
}
