{% assign emptyarray = "" | split: "," %}
{% assign data = site.data[include.data]
  | default: site[include.data]
  | default: emptyarray
  | data_filter: include.filter
%}

{% assign years = data
  | group_by_exp: "d", "d.date | date: '%Y'"
  | sort: "name"
  | reverse
%}

{% assign mbn = include.merge_before | plus: 0 %}
{% assign earlier_printed = false %}

{% for year in years %}
  {% assign data = year.items %}
  {% assign yn = year.name | plus: 0 %}
  {% assign heading_id = year.name %}
  {% assign heading_text = year.name %}
  {% assign show_heading = true %}
  {% if mbn > 0 and yn > 0 and yn < mbn %}
    {% assign heading_id = "earlier" %}
    {% assign heading_text = "Earlier" %}
    {% if earlier_printed %}{% assign show_heading = false %}{% endif %}
    {% assign earlier_printed = true %}
  {% endif %}

  {% if years.size > 1 and show_heading %}
    {{--}}<h3 id="{{ heading_id }}">{{ heading_text }}</h3>
  {% endif %}
  {% if years.size > 1 %}
    {% assign data = data | sort: "date" | reverse %}
  {% endif %}

  {% for d in data %}
    {% assign style = d.style | default: include.style %}

    {%
      include {{ include.component | append: ".html" }}
      affiliation=d.affiliation
      author=d.author
      authors=d.authors
      bibtex=d.bibtex
      buttons=d.buttons
      caption=d.caption
      content=d.content
      date=d.date
      description=d.description
      excerpt=d.excerpt
      height=d.height
      icon=d.icon
      id=d.id
      image=d.image
      last_modified_at=d.last_modified_at
      link=d.link
      links=d.links
      lookup=d.lookup
      name=d.name
      publisher=d.publisher
      repo=d.repo
      role=d.role
      slug=d.slug
      style=style
      subtitle=d.subtitle
      tags=d.tags
      text=d.text
      title=d.title
      tooltip=d.tooltip
      type=d.type
      url=d.url
      width=d.width
    %}
  {% endfor %}
{% endfor %}
